@font-face {font-family: "icomoon";src: url("fonts/icomoon.eot?k4wkth");src: url("fonts/icomoon.eot?k4wkth#iefix") format("embedded-opentype"),url("fonts/icomoon.ttf?k4wkth") format("truetype"),url("fonts/icomoon.woff?k4wkth") format("woff"),url("fonts/icomoon.svg?k4wkth#icomoon") format("svg");font-weight: 400;font-style: normal;}
@font-face {font-family: "dooplay";src: url("fonts/dooplay.eot?1uj93a");src: url("fonts/dooplay.eot?1uj93a#iefix") format("embedded-opentype"),url("fonts/dooplay.ttf?1uj93a") format("truetype"),url("fonts/dooplay.woff?1uj93a") format("woff"),url("fonts/dooplay.svg?1uj93a#dooplay") format("svg");font-weight: 400;font-style: normal;}
[class^="icon-"], [class*=" icon-"] {font-family: "icomoon" !important;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
[class^="icons-"], [class*=" icons-"] {font-family: "dooplay" !important;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-search3:before {content: "";}
.icon-search4:before {content: "";}
.icon-video-camera:before {content: "";}
.icon-pencil:before {content: "";}
.icon-history:before {content: "";}
.icon-tv:before {content: "";}
.icon-search:before {content: "";}
.icon-rocket:before {content: "";}
.icon-fire:before {content: "";}
.icon-power:before {content: "";}
.icon-download2:before {content: "";}
.icon-link:before {content: "";}
.icon-eye:before {content: "";}
.icon-star-full:before {content: "";}
.icon-heart:before {content: "";}
.icon-warning:before {content: "";}
.icon-notification:before {content: "";}
.icon-question:before {content: "";}
.icon-plus:before {content: "";}
.icon-minus:before {content: "";}
.icon-info:before {content: "";}
.icon-cancel-circle:before {content: "";}
.icon-play3:before {content: "";}
.icon-loop:before {content: "";}
.icon-embed2:before {content: "";}
.icon-share2:before {content: "";}
.icon-google:before {content: "";}
.icon-google-plus:before {content: "";}
.icon-google-plus3:before {content: "";}
.icon-facebook:before {content: "";}
.icon-instagram2:before {content: "";}
.icon-whatsapp:before {content: "";}
.icon-twitter:before {content: "";}
.icon-vine:before {content: "";}
.icon-youtube2:before {content: "";}
.icon-vimeo:before {content: "";}
.icon-dribbble2:before {content: "";}
.icon-bars:before {content: "";}
.icon-vk:before {content: "";}
.icon-search2:before {content: "";}
.icon-heart2:before {content: "";}
.icon-star:before {content: "";}
.icon-film:before {content: "";}
.icon-check:before {content: "";}
.icon-close:before {content: "";}
.icon-remove:before {content: "";}
.icon-times:before {content: "";}
.icon-refresh:before {content: "";}
.icon-camera:before {content: "";}
.icon-chevron-left:before {content: "";}
.icon-chevron-right:before {content: "";}
.icon-plus-circle:before {content: "";}
.icon-minus-circle:before {content: "";}
.icon-times-circle:before {content: "";}
.icon-check-circle:before {content: "";}
.icon-plus2:before {content: "";}
.icon-minus2:before {content: "";}
.icon-retweet:before {content: "";}
.icon-feed:before {content: "";}
.icon-rss:before {content: "";}
.icon-filter:before {content: "";}
.icon-pinterest:before {content: "";}
.icon-google-plus2:before {content: "";}
.icon-caret-down:before {content: "";}
.icon-caret-up:before {content: "";}
.icon-caret-left:before {content: "";}
.icon-caret-right:before {content: "";}
.icon-linkedin:before {content: "";}
.icon-angle-left:before {content: "";}
.icon-angle-right:before {content: "";}
.icon-angle-up:before {content: "";}
.icon-angle-down:before {content: "";}
.icon-youtube:before {content: "";}
.icon-instagram:before {content: "";}
.icon-flickr:before {content: "";}
.icon-tumblr:before {content: "";}
.icon-dribbble:before {content: "";}
.icon-vine2:before {content: "";}
.icon-pinterest-p:before {content: "";}
.icon-vimeo2:before {content: "";}
.icon-account_circle:before {content: "";}
.icon-add:before {content: "";}
.icon-add_a_photo:before {content: "";}
.icon-add_circle:before {content: "";}
.icon-chat:before {content: "";}
.icon-chat_bubble:before {content: "";}
.icon-check_circle:before {content: "";}
.icon-data_usage:before {content: "";}
.icon-donut_large:before {content: "";}
.icon-markunread:before {content: "";}
.icon-star2:before {content: "";}
.icon-restore:before {content: "";}
.icon-home:before {content: "";}
.icon-live_tv:before {content: "";}
.icon-local_play:before {content: "";}
.icon-menu:before {content: "";}
.icon-message:before {content: "";}
.icon-mode_comment:before {content: "";}
.icon-monetization_on:before {content: "";}
.icon-new_releases:before {content: "";}
.icon-next_week:before {content: "";}
.icon-nfc:before {content: "";}
.icon-pan_tool:before {content: "";}
.icon-person:before {content: "";}
.icon-person_add:before {content: "";}
.icon-play_arrow:before {content: "";}
.icon-textsms:before {content: "";}
.icon-stars:before {content: "";}
.icon-thumb_down:before {content: "";}
.icon-thumb_up:before {content: "";}
.icon-update:before {content: "";}
.icon-verified_user:before {content: "";}
.icon-view_list:before {content: "";}
.icon-view_module:before {content: "";}
.icon-view_quilt:before {content: "";}
.icon-voice_chat:before {content: "";}
.icon-wb_sunny:before {content: "";}
.icon-whatshot:before {content: "";}
.icon-zoom_out_map:before {content: "";}
.icon-close2:before {content: "";}
.icons-primitive-dot:before {content: "";}
.icons-spinner9:before {content: "";}
.icons-enlarge2:before {content: "";}
.icons-shrink2:before {content: "";}